body{
    background-color:blanchedalmond;
    text-align: center;
}

header{
    background-color: gray;
}

main{
    height: auto;
    min-height: 100%;
    width: 80%;

    border: 3px dashed black;
    border-radius: 5px;

    color: blue;
    
}

footer{
    color: green;
}