*{
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    width: 100%;
    height: 60px;
    padding: 10px;
    position: relative;
}

nav{
    position: relative;
}

.left{
    position: absolute;
    left: 0;
}

.right{
    position: absolute;
    right: 0;
}

nav input{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    padding-left: 1em;
    width: 250px;
}

.nav-link{
    color: gray;
}

main{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

aside{
    width: 150px;
    height: 100%;
}

article{
    
}

section{
    display: flex;
}

.card img{
    width: 200px;
    height: 120px;
}